<html>
    <head>
        <title>Details {{title}}</title>
    </head>
    <body>
        {{>menu}}
        {{#properties}}
        <div>
            <label>{{name}}:</label>
            <label>{{value}}</label>
        </div>
        {{/properties}}
    </body>
</html>