<html>
    <head>
        <script>
            function submitForm(event) {
                event.preventDefault();
                const http = new XMLHttpRequest();
                http.open("POST", "http://localhost:8082/api/{{title}}", true);
                http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                let params = '';
                {{#properties}}
                    params += "{{name}}=" + document.getElementById('{{name}}').value+'&'; 
                {{/properties}}
                {{#references}}
                    params += "{{model}}ID=" + document.getElementById('{{model}}ID').value+'&'; 
                {{/references}}
                http.send(params);
                http.onload = function() {
                    alert(http.responseText);
                }
            }
            {{#hasReferences}}
                function loadValues(model,values,label,controlId,relatedModel){
                    var xhr = new XMLHttpRequest();
                    xhr.open("GET", `../../api/${model}/`, true);
                    xhr.onreadystatechange = function () {
                        if(xhr.readyState === 4 && xhr.status === 200) {
                            var response = JSON.parse(this.responseText);
                            var control = document.getElementById(controlId);
                            response.forEach(element => {
                                const option = document.createElement("option");
                                option.text = element[label];
                                option.value = element[controlId];
                                control.appendChild(option);
                            });
                        }
                    }
                    xhr.send();
                }
                window.onload = function() {
                    {{#references}}
                        loadValues('{{model}}','{{values}}','{{label}}','{{model}}ID');
                    {{/references}}
                }
            {{/hasReferences}}

        </script>

        <h1>Form {{title}}</h1>
    </head>
    <body>
        <!--{{>menu}}-->
        <form action="/insert" method="POST">
            {{#properties}}
            <div>
                <label>{{name}}:</label>
                <input id="{{name}}" type="text" value="{{value}}" />
            </div>
            {{/properties}}
            {{#references}}
            <div>
                <label>{{name}}:</label>
                <select id='{{model}}ID'>
                </select>
            </div>
            {{/references}}
            <button type="submit" class="button" style="vertical-align:middle"><span>Insert</span></button>
        </form>
        
        
    </body>
</html>