<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{>menu}}
        <table>
            <tr>
                {{#columns}}
                    <th>{{name}}</th>
                {{/columns}}
                {{#actions}}
                    <th></th>
                {{/actions}}
            </tr>
            {{#rows}}
                <tr>
                    {{#properties}}
                        <td>
                            {{value}}
                        </td>
                    {{/properties}}
                    {{#actions}}
                        <td>
                            {{#link}}
                                <a href="{{link}}" title="{{tooltip}}">
                                    {{label}}
                                    {{#image}}
                                        <img src="{{src}}" alt="{{alt}}"/>
                                    {{/image}}
                                </a>
                            {{/link}}
                            
                        </td>
                    {{/actions}}
                </tr>
            {{/rows}}
        </table>
    </body>
</html>
