<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{{css}}}">

        <title>{{title}}</title>
    </head>
    <body>
        <!--{{>menu}}-->
        <h1>Table of {{title}}</h1>
        <table>
            <tr>
                {{#columns}}
                    <th>{{name}}</th>
                {{/columns}}
                {{#actions}}
                    <th></th>
                {{/actions}}
            </tr>
            {{#rows}}
                <tr>
                    {{#properties}}
                        <td>
                            {{value}}
                        </td>
                    {{/properties}}
                    {{#actions}}
                        <td>
                            {{#link}}
                                <a href="{{{link}}}" title="{{tooltip}}">
                                    {{label}}
                                    {{#image}}
                                        <img src="{{{src}}}" alt="{{alt}}" style="height:26px"/>
                                    {{/image}}
                                </a>
                            {{/link}}
                        </td>
                    {{/actions}}
                </tr>
            {{/rows}}
        </table>
    </body>
</html>
