var express = require('express');
var router = express.Router();

router.get("/", function(req,res){
    res.send("View: frontoffice")
})

{{#models}}

router.get("/{{lowerCaseName}}", function(req, res) {
    res.send("View: {{upperCaseName}}");
})

router.get("/{{lowerCaseName}}/:id", function(req, res) {
    res.send("View: {{upperCaseName}} com id "+ req.params.id);
})

{{/models}}

module.exports = router;