const express = require('express');
const mustacheExpress = require('mustache-express');
const app = express();
const api = require('../Controllers/api.js');
//const backoffice = require('../Controllers/backoffice.js');

const bodyParser = require('body-parser');

//Permite converter os dados que vem dos formulários
app.use(bodyParser.urlencoded());

app.engine('mustache', mustacheExpress());
app.set('view engine', 'mustache'); //extensão dos ficheiros das views
app.set('views', 'C:/Users/Andreia/Desktop/P1_AndreiaP_150221021_AndreiaN_150221080_BernardoG_150221099/Models/Views'); //indicação de qual a pasta que irá conter as views

app.use('/api', api);

//app.use('/backoffice', backoffice);

app.use(express.static('Images' + '/public'));

{{#models}}
    const frontEnd{{name}}= require('../Views/api_{{name}}.js');
    app.use('/front/{{name}}', frontEnd{{name}});
{{/models}}

{{#models}}
    const backEnd{{name}}= require('../Views/back_{{name}}.js');
    app.use('/back/{{name}}', backEnd{{name}});
{{/models}}

const server = app.listen({{port}},function () {
    console.log('Example app listening on port {{port}}')
});

